.news-container {
  color: var(--white);
  background-color: var(--black);
  height: 100%;
  width: 100%;
  opacity: 0.8;
  border-radius: 3px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  overflow: auto;
   
}
.news-container span {
  display:flex;
     
}
.news-container a {
  text-decoration: none;
  color: var(--white);
  display:inline-flex;
   width: 15px;
  height: auto;
  animation:
  move 4000ms
 alternate infinite
 cubic-bezier(.2, .65, .6, 1);
}

@keyframes move {
  from {
  transform: translateX(0%);
}
to {
  transform: translateX(100%);
}
  
}
